body{
    background-color: bisque;
    color: black;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;

    line-height: 1.5em;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
}

.clr{
    clear: both;
}
.box-1{
    background-color: #333333;
    color: #fff;

    border: 5px red solid;
    border-bottom-width: 10px;
    border-top-style: dotted;

    border: 5px red solid;

    padding: 20px;
    margin: 20px 0px;
}

.box-1 h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.box-2{
    border: 3px dotted lightgray;
    padding: 20px;
    color: black;
    background-color: #fff;

}

.categories{
    border: 8px double brown;
    padding: 10px;
    border-radius: 20px;
    margin: 20px 0px;
}

.categories h2{
    color: blue;
    text-align: center;
}

.categories ul{
    list-style: square;
    color: blue;
}

a{ 
    text-decoration: dotted 3px black;
    color: black;
}

a:hover{
    color: blue;
}

.my-form{
    padding: 20px;
}

.my-form .form-group{
    padding-bottom: 15px;
}

.my-form label{
    display: block;
}

.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
}

.button[type="submit"]{
    background-color: #333333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

.block{
    float: left;
    width: 33.3%;
    border: 1px solid #333;
    padding: 10px;
    box-sizing: border-box;
}

#main-block{
    float: left;
    width: 70%;
}

#sidebar{
    float: right;
    width: 30%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
}

.p-box{
    width: 800px;
    height: 500px;
    border: 1px solid #333;
    position: relative;
    background-image: url(bgimage.jpeg);
    background-position: center;
}

.p-box h1{
    position: absolute;
    top: 40px;
    left: 80px;
}

.p-box h2{
    position: absolute;
    bottom: 100px;
    right: 20px; 
}

.fix-me button[type="submit"]{
    background-color: #333;
    color: #fff;
    padding: 15px;
}

.fix-me{
    position: fixed;
    top: 400px;
}

.my-list li:first-child{
    background-color: red;
}

.my-list li:last-child{
    background-color: blueviolet;
}

.my-list li:nth-child(3){
    background: yellowgreen;
}